*{
    margin:0px;
    padding:0px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background:  rgb(88, 88, 88); 
    border: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }
.ornek{
    width: 50%;
    margin:auto;
    }
    .sola-kaydir{
    float:left;
    padding:0 10px 10px 0;
    }
body{margin:0px;background-image:url("depo/bg\ notes.png");}
header h1{color:#00C; float:right;}
.logo{background-color: black;text-align: center;color:white}
.navigation{margin-top:0px;}
.navigation ul{list-style:none;padding:0;}
.navigation ul li{
    font-size:140%;float:left;
    width: 100%;}
.navigation ul li a{
    
    display:block;
    padding:10px; 
    text-decoration: none;
    background-color:black; 
    color:white;
    text-align: center;}

@media(max-width:596px){
    .logo img{ width:40%;height:auto}

    .navigation ul li{
        
        float:none;
    }
    .navigation ul li a{
        width:100%;
        font-size:100% ;
    }
    .navigation{
        width:96.89%;
    }
    .social-icons li img {width:130%;height:auto;margin-top: 20%;margin-right: 20%;margin:auto}
    footer ul p{
        font-size: 75%;
    }
    #copy{
        font-size: 80%;
        margin-bottom:5%px;
    }
}    
.navigation ul li a:hover{background:rgb(88, 88, 88);transition-duration: 1s; width:"20%"}
@media(min-width:597px){
    .logo img{ width:25%;height:auto}
    .social-icons li img {width:50%;height:auto;margin-top: 20%;}
    #a1{width:20%}
    footer ul p{
        font-size: 125%;
    }
    

}

#ic{    width: 6%;
    height: auto;
margin:16.89px;}


    div.gallery {
        background-color:black;
        margin-top:5%;
        margin-bottom:2.5%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #ccc;
        
        width: 60.89%;
      }
      

      
      div.gallery img {
        
        width: 100%;
        height: auto;
      }
      
      div.desc {
          font-size: 150%;
        background-color:black;
        color:white;
        padding: 15px;
        text-align: center;
      }
      .google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        margin:auto;
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }      


footer{background-color:black;color:green;width:100%;}



.social-icons {text-align: center;float:bottom;}  
.social-icons li {display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;}
.social-icons li a {border-bottom:none;}
.social-icons p{margin-bottom:20px}



